# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Editor files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

node_modules/
.env
.env.local
.env.production
__pycache__/
*.pyc
dist/
build/
